/* General App Styles */
.app-container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
}

.nav-link {
  color: blue;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.1rem;
}

.auth-links {
  display: flex;
}

.auth-btn {
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.logout-btn {
  padding: 8px 16px; /* Adjust the padding to make the button smaller */
  font-size: 14px; /* Optional: Adjust the font size to match the smaller button */
  background-color: #ff4d4d; /* Optional: You can set a background color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed; /* Use fixed positioning to keep it at the right */
  right: 20px; /* Keeps the button on the right side */
  bottom: 20px; /* Position it at the bottom to make it easily accessible */
  max-width: 150px; /* Limit the width of the button */
  height: 40px; /* Ensure the height is consistent */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.logout-btn:hover {
  background-color: #e60000; /* Change color on hover */
}



.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 20;
  transition: transform 0.5s ease;
  visibility: hidden;
}

.show-login {
  transform: translateX(-100%);
}

.show-signup {
  transform: translateX(100%);
}

.login-form-container, .signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
}

.show-login .login-form-container {
  transform: translateX(0);
}

.show-signup .signup-form-container {
  transform: translateX(0);
}

.show-login .signup-form-container,
.show-signup .login-form-container {
  visibility: hidden;
}

/* Login and Signup form */
input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input:focus, button:focus {
  outline: none;
  border-color: #4CAF50;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}